*.db
*.egg-info
*.pyc
*.pyo
*.sqlite*
*.rdb
*.~*
*bower_components
*credentials*json
*node_modules
.cache
.coverage
.DS_Store
.idea
.tox
.vagrant
/dist
build
coverage.xml
*.retry
flake.out
pep8.out
pytest.xml
~*
